no ip access-list extended vty-acl
!
ip access-list extended vty-acl
!
{% for acl_host in acl_host %}
permit tcp host {{_vty_acl_host}} host 192.168.1.50 eq 22
{% endfor %}

logging {{_syslogs_config}}
logging buffered 96000
ip domain name 
