service password-encryption
service config
login on-failure log 
login on-success log 
service timestamps log 
logging 192.168.10.10
clock timezone PHT 8

{% for ntp_server in ntp_server %}
ntp server {{ntp_server}}
{% endfor %}

logging buffered 96000 
!
ip domain name {{domain_name}}
!
{% for item in cisco_network_users %}
username {{item.net_user}} privilege 15 secret {{item.net_pass }}
{% endfor %}
!


